BOT_TOKEN=your_bot_father_token_here
MONGO_URI=mongodb://localhost:27017/shieldgram

# Channel & Support Links
ADMIN_HANDLE=MrBossTG
UPDATES_CHANNEL=https://t.me/MrBossBotz
SUPPORT_GROUP=https://t.me/MrBossSupport
DEV_GITHUB=https://github.com/MrBoss002
